.v-btn {
    letter-spacing: 0
}

.v-theme--dark.v-application {
    background-color: #1E1E1E;
}

.v-theme--dark.v-toolbar.v-sheet {
    background-color: #1E1E1E;
}

.v-toolbar {
    transition: inherit;
}

.v-btn.v-theme--dark:not(.v-btn--variant-outlined) {
    border: 1px transparent solid;
}

.v-btn--variant-outlined.v-theme--dark {
    border: 1px #A8FF00 solid;
}

/*
CSS MOMENT

CSS MOMENT
*/
:is(:hover,[aria-expanded="true"],[aria-current="page"]).v-btn.v-theme--dark:not(.primary):not(.v-btn--icon):not(.v-btn--round) {
    border: 1px #A8FF00 solid;
}

:is(.v-list-item--nav,.v-menu__content) .v-list-item.v-theme--dark:not(.v-btn--variant-outlined) {
    border: 1px transparent solid;
}

:is(.v-list-item--nav,.v-menu__content) :is(:hover,[aria-expanded="true"],[aria-current="page"]).v-list-item.v-theme--dark {
    border: 1px #A8FF00 solid;
}

/*
CSS MOMENT

CSS MOMENT
*/
:is(.v-list--nav,.v-menu__content) :is(:hover,[aria-expanded="true"],[aria-current="page"]).v-list-item.v-theme--dark:is(.v-list-item__title,.v-list-item__icon,.v-list-item--link) {
    color: white;
}

.v-divider.v-theme--dark {
    border-color: #A8FF00;
}

@font-face {
    font-family: 'Fugaz One';
    src: url('@/assets/fonts/BarlowSemiFugazOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('@/assets/fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('@/assets/fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Blueshell';
    src: local("Blueshell"), url('@/assets/fonts/Blueshell.woff2') format('woff2'), url('@/assets/fonts/Blueshell.ttf') format('truetype');
}

.v-application .text-h1, .v-application h1 {
    font-family: "Fugaz One", sans-serif !important;
    text-transform: uppercase;
    font-size: 90px;
}

.v-application .text-h2, .v-application h2 {
    font-family: "Fugaz One", sans-serif !important;
    text-transform: uppercase;
    font-size: 38px;
}

.v-application .text-h3, .v-application h3 {
    font-family: "Barlow Semi Condensed", sans-serif !important;
    font-size: 26px
}

.v-application .v-btn {
    font-family: "Fugaz One", sans-serif !important;
    text-transform: uppercase;
}

.v-application .text-h4, .v-application h4, .v-application .text-h5, .v-application h5, .v-application .text-h6, .v-application h6 {
    font-family: "Barlow Semi Condensed", sans-serif !important;
    font-weight: bold;
}

.v-application .subtitle-1, .v-application .subtitle-2, .v-application .text-body-1, .v-application .text-body-2, .v-application .caption, .v-application .overline,
.text-subtitle-1, .text-subtitle-2, .v-list-item__content {
    font-family: "Barlow Semi Condensed", sans-serif !important;
}


.v-theme--dark p, .v-theme--dark li. {
    color: white;
}

a.text-decoration-none {
    color: #3387FA;
}

a:visited.text-decoration-none {
    color: #549aff;
}


/* Some default spacing */
.v-application p {
    margin-bottom: 16px;
}

.v-application ol, .v-application ul {
    padding-left: 24px;
}

.v-application {
    font-family: "Barlow Semi Condensed", sans-serif;
}

.v-application.v-theme--dark ul:not(.v-pagination__list) li {
    list-style-image: url('@/assets/svgs/listitemdark.svg')
}

.v-application ul:not(.v-pagination__list) li {
    list-style-image: url('@/assets/svgs/listitemlight.svg')
}
