
@font-face
  font-family: 'Shitfont'
  src: local("Shitfont")
  src: url('../assets/Shitfont-Regular.woff2') format('woff2') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  src: url('../assets/Shitfont-Regular.ttf') format('truetype') /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */


$border-radius-root: 6px
$font-size-root: 30px
$btn-font-sizes: 30px
$body-font-family: 'Shitfont'

p
  font-family: 'Shitfont', sans-serif !important
div
  font-family: 'Shitfont', sans-serif !important

.v-application
  .title
    font-family: 'Shitfont', sans-serif !important
  .display-4
    font-family: 'Shitfont', sans-serif !important
  .display-3
    font-family: 'Shitfont', sans-serif !important
  .display-2
    font-family: 'Shitfont', sans-serif !important
  .display-1
    font-family: 'Shitfont', sans-serif !important
  .headline
    font-family: 'Shitfont', sans-serif !important
  .title
    font-family: 'Shitfont', sans-serif !important
  .subtitle-2
    font-family: 'Shitfont', sans-serif !important
  .subtitle-1
    font-family: 'Shitfont', sans-serif !important
  .body-2
    font-family: 'Shitfont', sans-serif !important
  .body-1
    font-family: 'Shitfont', sans-serif !important
  .caption
    font-family: 'Shitfont', sans-serif !important
  .overline
    font-family: 'Shitfont', sans-serif !important

  .text-h1
    font-family: 'Shitfont', sans-serif !important
  .text-h2
    font-family: 'Shitfont', sans-serif !important
  .text-h3
    font-family: 'Shitfont', sans-serif !important
  .text-h4
    font-family: 'Shitfont', sans-serif !important
  .text-h5
    font-family: 'Shitfont', sans-serif !important
  .text-h6
    font-family: 'Shitfont', sans-serif !important
  .text-h2
    font-family: 'Shitfont', sans-serif !important
